.grid {
  display: grid;
  flex-wrap: wrap;
  gap: 2px;
  width: 100%;
  max-width: 800px;
  /* height: 300px; */
}

.grid img{
  width: 200px;
  height: auto;
  object-fit: cover;
}

.grid-cols-3{
  grid-template-columns: repeat(4, 1fr);
}

/* .cards{
  display: none;
} */